@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 ::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    user-select: none;
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: #888 #f1f1f1; /* thumb and track color */
    cursor: url('../Images/cursor/carrot-small.png') 0 0, auto;

}

.banner {
    color: white;
    height: 700px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.banner::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Images/pexels-wendywei-1656663.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.banner>nav {
    box-shadow: 0 0 20px 0px black;
    background-color: darkgreen;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.banner>nav>h3 {
    float: left;
    height: 30px;
    padding: 0 5px;
}

.banner>nav>ul {
    float: right;
    height: 30px;
    display: flex;
}

.banner>nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: smaller;
    text-align: center;
    padding: 6px 6px;
    height: 30px;
    box-sizing: border-box;
    transition: ease-in background-color 0.25s;
}

.banner > nav a:first-child {
    cursor: url("../Images/cursor/home-small.png"), auto;
}

.banner > nav a:nth-child(2) {
    cursor: url("../Images/cursor/vegetable-small.png"), auto;
}

.banner > nav a:nth-child(3) {
    cursor: url("../Images/cursor/vegetable-boxed-small.png"), auto;
}


.banner > nav a:last-child {
    cursor: url("../Images/cursor/book-small.png"), auto;
}

.banner>nav a:hover {
    background-color: rgb(43, 179, 43);
}

.banner>section {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner>section>h1 {
    font-size: 40px;
}

.banner>section>p {
    max-width: 800px;
    display: block;
    background-color: #00000047;
    padding: 20px;
    border-radius: 10px;
}

p {
    text-indent: 30px;
}

.content {
    margin-top: 20px;
}

.content > ul {
    display: flex;
    flex-direction: column;
}

.content li {
    display: inline-block;
    width: 50vw;
    height: 50vw;
    margin: 20px;
    box-shadow: 0 0 10px 0px;
    border-radius: 50%;
    overflow: hidden;
    transition: ease-out transform 0.25s;
    background-color: beige;
    outline: 1px solid green;
    outline-offset: -20px;
    outline-style: dashed;
    outline-width: 3px;
}

.content li:nth-child(odd) {
    margin-right: auto;
}

.content li:nth-child(even) {
    margin-left: auto;
}

.content li:hover {
    transform: scale(1.05);
}

.content li>div {
    width: 75%;
    margin: auto;
}

.content li>div>h3 {
    text-align: center;
}

.content li>img {
    height: 50%;
    width: 100%;
}

.content p {
    font-size: smaller;
}

footer {
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    font-size: x-small;
    background-color: beige;
}

footer p {
    text-indent: unset;
    display: inline;
    margin: 5px 10px;
}

footer>p {
    font-weight: bold;
}

.content-other-pages {
    min-height: 700px;
    padding: 10px;
    margin: 0 50px;
    margin-top: -600px;
    position: relative;
}

.content-other-pages::before {
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    filter: opacity(0.8);
    position: absolute;
    z-index: -1;
    border-radius: 10px;
}