body {
    margin: 0;
    padding: 0;
    background-color: #e2e2e2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url("./RurqKDM.jpeg");
    color: white;
    padding: 50px 20px;
    background-size: cover;
    background-position: center;
}

button {
    color: white;
    padding: 10px 20px;
    background-color: dodgerblue;
    border-radius: 3px;
    border: 1px solid gray;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: rgb(25, 114, 202);
}

section.feature-container {
    padding: 20px 0px;
    margin: 20px 0px;
}

.feature-card {
    display: inline-block;
    padding: 20px 30px;
    margin: 0px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px lightgray;
    border: 1px solid lightgray;
    user-select: none;
    background-color: white;
    cursor: pointer;
    transition: transform 0.5s;
}

.feature-card:hover {
    transform: scale(1.10);
}

footer {
    padding: 10px 0px;
    color: white;
    background-color: black;
}