* {
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
    user-select: none;
}

.banner {
    color: white;
    height: 450px;
    background-image: url("/imagens/banner/1.jpg");
    background-size: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.2);
    height: 35px;
    box-shadow: 0px 2px 5px 5px black;
}

.banner h4 {
    float: left;
    font-weight: 200;
    padding: 10px;
}

.banner nav {
    float: right;
}

.banner nav a {
    color: white;
    font-size: small;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
}

.banner nav a:hover {
    background-color: red;
}

.banner h1 {
    margin: 160px;
    text-align: center;
    font-size: 48px;
}