@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    user-select: none;
}

.banner {
    color: white;
    height: 700px;
    display: flex;
    flex-direction: column;
    background-image: url("./Images/pexels-wendywei-1656663.jpg");
    background-size: cover;
}

.banner > nav {
    box-shadow: 0 0 20px 0px black;
    background-color: #00000047;
}

.banner > nav > h3 {
    float: left;
    height: 30px;
    padding: 0 5px;
}

.banner > nav > ul {
    float: right;
    height: 30px;
    display: flex;
}

.banner > nav a {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: smaller;
    text-align: center;
    padding: 6px 6px;
    height: 30px;
    box-sizing: border-box;
    background-color: darkgreen;
    transition: ease-in background-color 0.25s;
}

.banner > nav a:hover {
    background-color: rgb(43, 179, 43);
 }

.banner > section {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner > section > h1 {
    font-size: 40px;
}

.banner > section > p {
    max-width: 800px;
    display: block;
    background-color: #00000047;
    padding: 20px;
    border-radius: 10px;
}

p {
    text-indent: 30px;
}

.content {
    margin-top: 20px;
}

.content ul {
    display: flex;
}

.content li {
    display: inline-block;
    flex-grow: 1;
    width: 200px;
    margin: 20px;
    box-shadow: 0 0 10px 0px;
    border-radius: 6px;
    transition: ease-out transform 0.25s;
}

.content li:hover {
    transform: scale(1.05);
}

.content li > div {
    padding: 10px;
}

.content li > div > h3 {
    text-align: center;
}

.content li > img {
    height: 200px;
    width: 100%;
}

.content p {
    font-size: smaller;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: x-small;
}

footer p {
    text-indent: unset;
    display: inline;
    margin: 5px 10px;
}

footer > p {
    font-weight: bold;
}